PORT=4000
NODE_ENV=development
APP_NAME=SecureChat

DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASS=changeme
DB_NAME=secure_chat_dev

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100

AWS_REGION= "ap-south-1"
AWS_ACCESS_KEY_ID= "sdfsdmfdsfkjjnkn"
AWS_SECRET_ACCESS_KEY="kndsknsaknfklf"
AWS_BUCKET="secure-chat-app-bucket"